[submodule "network_evaluation"]
	path = network_evaluation
	url = git@github.com:illinois-or-research-analytics/network_evaluation.git
[submodule "lanne2_networks"]
	path = lanne2_networks
	url = git@github.com:illinois-or-research-analytics/lanne2_networks.git
[submodule "ABCDGraphGenerator.jl"]
	path = ABCDGraphGenerator.jl
	url = git@github.com:vltanh/ABCDGraphGenerator.jl.git
[submodule "cm_pipeline"]
	path = cm_pipeline
	url = git@github.com:illinois-or-research-analytics/cm_pipeline.git
[submodule "constrained-clustering"]
	path = constrained-clustering
	url = git@github.com:MinhyukPark/constrained-clustering.git
